<!-- Menú lateral -->
<ion-menu side="start" menuId="first" contentId="main-content">
  <!-- Encabezado del menú que esta arriba, donde dice contactos -->
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title> <!-- Título del menú -->
    </ion-toolbar>
  </ion-header>

  <!-- Contenido del menú -->
  <ion-content>
    <ion-list>

      <!-- Opción de rediccionamiento del menú: Inicio -->
      <ion-menu-toggle auto-hide="false">
        <ion-item routerLink="/tabs/tab1">
          <ion-icon slot="start" name="home-outline"></ion-icon> <!-- Icono de inicio -->
          <ion-label>Inicio</ion-label> <!-- Etiqueta de inicio -->
        </ion-item>
      </ion-menu-toggle>

      <!-- Opción del menú: Contactos -->
      <ion-menu-toggle auto-hide="false">
        <ion-item routerLink="/tabs/tab2">
          <ion-icon slot="start" name="people-outline"></ion-icon> <!-- Icono de contactos -->
          <ion-label>Contactos</ion-label> <!-- Etiqueta de contactos -->
        </ion-item>
      </ion-menu-toggle>

      <!-- Opción del menú: Configuración -->
      <ion-menu-toggle auto-hide="false">
        <ion-item routerLink="/tabs/tab3">
          <ion-icon slot="start" name="settings-outline"></ion-icon> <!-- Icono de configuración -->
          <ion-label>Perfil</ion-label> <!-- Etiqueta de configuración -->
        </ion-item>
      </ion-menu-toggle>
      
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Encabezado principal -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Botón para abrir el menú -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- Título de la página -->
    <ion-title>
      Contactos <!-- Título de la página -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="foto-perfil">
  <img [src]="foto || 'assets/ico-foto.png'" alt="Foto de perfil">
  <input type="file" (change)="cargarFoto($event)" accept="image/*" />
</div>
<ion-content class="ion-padding">

  <form (submit)="agregarContacto()">
    <ion-item>
      <ion-input [(ngModel)]="nuevoContacto.nombre" name="nombre" placeholder="Nombre" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="nuevoContacto.apellido" name="apellido" placeholder="Apellido"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="nuevoContacto.telefono" name="telefono" placeholder="Teléfono" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="nuevoContacto.correo" name="correo" placeholder="Correo" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="nuevoContacto.role" name="role" placeholder="Rol" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label>Localización</ion-label>
      <ion-select [(ngModel)]="nuevoContacto.location" name="location" placeholder="Selecciona un país" required>
        <ion-select-option *ngFor="let pais of paises" [value]="pais">{{ pais }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="nuevoContacto.company" name="company" placeholder="Compañia" required></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit">Agregar</ion-button>
  </form>

  <ion-list>
    <ion-item *ngFor="let contacto of contactos">
      <ion-label>
        {{ contacto.nombre }} {{ contacto.apellido }} - {{ contacto.telefono }} - {{ contacto.correo }} - {{ contacto.role }} - {{ contacto.location }} - {{ contacto.company }}
      </ion-label>
      <ion-button color="danger" (click)="eliminarContacto(contacto.id)">Eliminar</ion-button>
    </ion-item>
  </ion-list>

</ion-content>


