<!-- Menú lateral -->
<ion-menu side="start" menuId="first" contentId="main-content">
  <!-- Encabezado del menú -->
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title> <!-- Título del menú -->
    </ion-toolbar>
  </ion-header>

  <!-- Contenido del menú -->
  <ion-content>
    <ion-list>
      <!-- Opción del menú: Inicio -->
      <ion-menu-toggle auto-hide="false">
        <ion-item routerLink="/tabs/tab1">
          <ion-icon slot="start" name="home-outline"></ion-icon> <!-- Icono de inicio -->
          <ion-label>Inicio</ion-label> <!-- Etiqueta de inicio -->
        </ion-item>
      </ion-menu-toggle>

      <!-- Opción del menú: Contactos -->
      <ion-menu-toggle auto-hide="false">
        <ion-item routerLink="/tabs/tab2">
          <ion-icon slot="start" name="people-outline"></ion-icon> <!-- Icono de contactos -->
          <ion-label>Contactos</ion-label> <!-- Etiqueta de contactos -->
        </ion-item>
      </ion-menu-toggle>

      <!-- Opción del menú: Configuración -->
      <ion-menu-toggle auto-hide="false">
        <ion-item routerLink="/tabs/tab3">
          <ion-icon slot="start" name="settings-outline"></ion-icon> <!-- Icono de configuración -->
          <ion-label>Configuración</ion-label> <!-- Etiqueta de configuración -->
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Encabezado principal de la página -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><h1>Informacion Personal</h1></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="refrescarPagina()">
        <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header  class="ion-no-border">
  <ion-toolbar>
    <ion-title>Contactos Guardados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let card of cards">
      <ion-avatar slot="start">
        <img [src]="card.image" alt="Foto de contacto">
      </ion-avatar>
      <ion-label>
        <h2>{{ card.name }}</h2>
        <p>{{ card.location }}</p>      
      </ion-label>
      <ion-button (click)="verMas(card)">Ver más</ion-button>
    </ion-item>
  </ion-list>

  <!-- Detalle de la tarjeta seleccionada -->
  <div *ngIf="selectedCard" class="detalle-card">
    <h2>{{ selectedCard.name }}</h2>
    <p>{{ selectedCard.surnames}}</p>
    <p>{{ selectedCard.role }}</p>
    <p>{{ selectedCard.email }}</p>
    <p>{{ selectedCard.phone }}</p>
    <p>{{ selectedCard.company }}</p>
    <p>{{ selectedCard.location }}</p>
    <ion-button (click)="cerrarDetalle()">Cerrar</ion-button>
  </div>
</ion-content>